<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Currency Converter App</title>
  </head>
  <body>
    

    <div class="container">
        <div class="card" style="background-color: #00CED1	;">
            <div class="card-header"><h2 style="text-align: center; color: red;">Currency Converter App</h2></div>
            <div class="card-body">
                <div style="margin: auto; width: 500px;">
                    <form action="" method="post" style="text-align: center;">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.date.label }}
                            {{ form.date(class="form-control") }}
                            {% for error in form.date.errors %}
                              <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                          From {{ form.base(class="form-control") }}
                        </div>
                        <div class="form-group">
                          To {{ form.currency(class="form-control") }}
                        </div>
                        <div class="form-group">
                          {{ form.quantity.label }}
                          {{ form.quantity(class="form-control") }}
                          {% for error in form.quantity.errors %}
                              <span style="color: red;">{{ error }}</span>
                          {% endfor %}
                        </div>
                        <div class="form-group">
                          {{ form.submit(class="form-control btn btn-primary") }}
                        </div>
                        
                    </form>
                </div>
                <div style="margin-right: 400px; text-align: right;">
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <span style="color: green;">{{ messages[0] }}</span>
                    {% endif %}
                  {% endwith %}
                </div>
                
            </div>
            <div class="card-footer">
              <h4 style="text-align: center;">Develop By: <a href="https://bit.ly/33Fb5gA" target="_blank">Sajib Hossain</a></h4>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>